# ==============================
# Common Configuration
# ==============================

ASPNETCORE_ENVIRONMENT=Development

ApiSettings__Secret=
ApiSettings__Issuer=
ApiSettings__Audience=

TopicAndQueueNames__EmailShoppingCartQueue=


# ==============================
# Docker Configuration
# ==============================

Docker__ASPNETCORE_HTTP_PORTS=8080

Docker__ConnectionStrings__DefaultConnection=
Docker__ServiceUrls__ProductAPI=
Docker__ServiceUrls__CouponAPI=

# ==============================
# HTTP / Local Configuration
# ==============================

Http__ASPNETCORE_HTTP_PORTS=8080

Http__ConnectionStrings__DefaultConnection=

Http__ServiceUrls__ProductAPI=http://localhost:<PRODUCT_HOST_PORT>
Http__ServiceUrls__CouponAPI=http://localhost:<COUPON_HOST_PORT>