ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_ENVIRONMENT=Development

ApiSettings__Secret=
ApiSettings__Issuer=
ApiSettings__Audience=

ConnectionStrings__DefaultConnection=

ServiceUrls__ProductAPI=
ServiceUrls__CouponAPI=

TopicAndQueueNames__EmailShoppingCartQueue=